body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#result {
    margin: 20px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 2px solid #333; /* Dark border */
}

th {
    background-color: #f2f2f2;
}
